.container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3E454D;
    color: white;
    flex-direction: column;
    min-height: 600px;
}

@media only screen and (max-width: 1000px) {
    .container {
        height: 100vh;
    }
}

.title {
    margin-top: 0px;
}