.carousel {
    overflow: hidden;
    max-width: 90%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indicators {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: green;
    color: white;
}