.carousel {
    overflow: hidden;
    max-width: 90%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.indicators {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.indicators > button {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #3E454D;
    border: solid 1px #282d32;
}

.indicators > button:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.indicators > button.active {
    background-color: #282d32;
    color: white;
}