.carouselItem {
    display: inline-flex;
    flex-direction: column;
    background-color: #3E454D;
    border: solid 1px #282d32;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.shortDesc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    overflow: hidden;
    white-space: normal;
    margin: 10px 26px 0px;
    height: 50px;
}

.desc {
    margin-top: 20px;
}

.link {
    margin-top: 20px;
    color: white;
    width: fit-content;
}

.link:visited {
    color: #aaaaaa;
}
  
.link:hover {
    filter: brightness(1.1);
}

.image {
    height: 30vh;
    margin-top: 10px;
}

.topBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 4px 4px 0px 0px;
    background-color: #282d32;
}

.titleContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}


.flexContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.openBtn {
    align-self: start;
    background: none;
    border: none;
    width: 40px;
    padding: 0px;
    height: 40px;
    margin-left: 10px;
}

.button {
    display: block;
    width: inherit;
    height: inherit;
}

.button:hover {
    filter: brightness(0.8);
    cursor: pointer;
}
