.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


@media only screen and (max-width: 1200px) {
    .card {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 50%;
    }
}

.card {
    border-radius: 4px;
    background-color: #343a40;
    border: solid 1px #282d32;
    color: white;
}

.topBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 4px 4px 0px 0px;
    background-color: #282d32;
}

.button {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: rgb(236, 97, 81);
}

.button:hover {
    filter: brightness(0.9);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-height: 50vh;
    text-align: center;
}