.container {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3E454D;
    color: white;
    flex-direction: column;
}

.grid {
    display: inline-grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}